{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field, render_recaptcha %}


{% block content %}



<br>
<div class="content-section">

  <br>
  <legend class="border-bottom mb-4">Portfolio Overview: <b>{{portfolio.name}} </b></legend>
  <div class="alert alert-danger" role="alert"> 
    Something strange? Make sure to check out the constraints and known problems of the computation at the bottom of the page.
  </div>
  <table class="table table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Ticker/Symbol</th>
            <th scope="col">Percent</th>
            <th scope="col">Currency</th>  
        </tr>
    </thead>
    <tbody></tbody>
    {% for i in range(0,positions|length) %}
    <tr>
        <th scope="row">{{i}}</th>
        <td>{{positions[i].name}}</td>
        <td><a href="https://finance.yahoo.com/quote/{{positions[i].ticker}}" target="_blank">{{positions[i].ticker}}</a></td>
        <td>{{positions[i].percent}}%</td>
        <td>{{positions[i].currency}}</td>
    </tr>

    {%endfor%}
    </tbody>
</table>


    <br>
    <legend class="border-bottom mb-4">Correlation Results </b></legend>

    <div class="table-responsive"> 
        <table class="table table-bordered">
            <h4 class='text-center'>1. Maximum timeframe:</h4>
            <h5><b>Daily</b></h5>
            <h3><b_black> Matrix</b_black></h3>
            <p class='text-muted'>Evaluated from: {{matrixMax[1]}} to {{matrixMax[2]}}. </p>   
            <thead>
                <tr>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Asset value taken daily"></th>
                    {% for i in range(0,tickers|length) %}
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="{{companyNames[i]}}">{{tickers[i]}}<sup>&nbsp;<i class="fas fa-info " style="color:#00b0f0"> </i></sup> </th>
                    {%endfor%}
                    <!-- {{companyNames[i]}} -->

                </tr>
            </thead>
            <tbody></tbody>
            {% for i in range(0,tickers|length) %}
            <tr>
                <th scope="row" data-toggle="tooltip" data-placement="top" title="{{companyNames[i]}}">{{tickers[i]}}<sup>&nbsp;<i class="fas fa-info " style="color:#00b0f0"> </i></sup></th>
                
                {% for j in range(0,tickers|length) %}
                <!-- <td>{{j}}</td> -->
                <td>{{matrixMax[0][i][j]}}</td>

                {%endfor%}


            </tr>

            {%endfor%}
            </tbody>
            
            
        </table>
        <h3><b_black> Portfolio</b_black></h3>
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Benchmark</th>
                <th scope="col">Correlation</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">MSCI World</td>
                <td>{{pfResults[0][0]}}</td>
                <td>{{pfResults[0][1]}}</td>
                <td>{{pfResults[0][2]}}</td>
        
              </tr>
              <tr>
                <td scope="row">S&P 500 </td>
                <td>{{pfResults[4][0]}}</td>
                <td>{{pfResults[4][1]}}</td>
                <td>{{pfResults[4][2]}}</td>
        
              </tr>
              <tr>
                <td scope="row">Euro Stoxx 600</td>
                <td>{{pfResults[8][0]}}</td>
                <td>{{pfResults[8][1]}}</td> 
                <td>{{pfResults[8][2]}}</td>           
              </tr>
            </tbody>
        </table>
    </div>

    <div class="col-xs-12" style="height:50px;"></div>

    <div class="table-responsive">
        <h5><b>Monthly</b></h5>
        <h3><b_black> Matrix</b_black></h3>
        <p class='text-muted'>Evaluated from: {{matrixMax[1]}} to {{matrixMax[2]}}. </p> 
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Asset value taken at the first trading day per month" ></th>
                    {% for i in range(0,tickers|length) %}
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="{{companyNames[i]}}">{{tickers[i]}}<sup>&nbsp;<i class="fas fa-info " style="color:#00b0f0"> </i></sup> </th>
                    {%endfor%}
                    <!-- {{companyNames[i]}} -->

                </tr>
            </thead>
            <tbody></tbody>
            {% for i in range(0,tickers|length) %}
            <tr>
                <th scope="row" data-toggle="tooltip" data-placement="top" title="{{companyNames[i]}}">{{tickers[i]}}<sup>&nbsp;<i class="fas fa-info " style="color:#00b0f0"> </i></sup></th>
                
                {% for j in range(0,tickers|length) %}
                <!-- <td>{{j}}</td> -->
                <td>{{matrixMaxMonthly[0][i][j]}}</td>

                {%endfor%}


            </tr>

            {%endfor%}
            </tbody>
        </table>

        <h3><b_black> Portfolio</b_black></h3>
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Benchmark</th>
                <th scope="col">Correlation</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                
         
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">MSCI World</td>
                <td>{{pfResults[1][0]}}</td>
                <td>{{pfResults[1][1]}}</td>
                <td>{{pfResults[1][2]}}</td>
        
              </tr>
              <tr>
                <td scope="row">S&P 500 </td>
                <td>{{pfResults[5][0]}}</td>
                <td>{{pfResults[5][1]}}</td>
                <td>{{pfResults[5][2]}}</td>
        
              </tr>
              <tr>
                <td scope="row">Euro Stoxx 600</td>
                <td>{{pfResults[9][0]}}</td>
                <td>{{pfResults[9][1]}}</td> 
                <td>{{pfResults[9][2]}}</td>           
              </tr>
            </tbody>
        </table>
        
    </div>


    {% if showCustomMatrix %}
    <div class="col-xs-12" style="height:50px;"></div>
    <hr/>
    <div class="col-xs-12" style="height:50px;"></div>

    <div class="table-responsive">
        
        <table class="table table-bordered">
            <h4 class='text-center'>2. Selected timeframe:</h4>
            <h5><b>Daily</b></h5>
            <h3><b_black> Matrix</b_black></h3>
            <p class='text-muted'>Evaluated from: {{matrixCustom[1]}} to {{matrixCustom[2]}}. </p>
            <thead>
                <tr>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Asset value taken daily"  ></th>
                    {% for i in range(0,tickers|length) %}
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="{{companyNames[i]}}">{{tickers[i]}}<sup>&nbsp;<i class="fas fa-info " style="color:#00b0f0"> </i></sup> </th>
                    {%endfor%}
                    <!-- {{companyNames[i]}} -->

                </tr>
            </thead>
            <tbody></tbody>
            {% for i in range(0,tickers|length) %}
            <tr>
                <th scope="row" data-toggle="tooltip" data-placement="top" title="{{companyNames[i]}}">{{tickers[i]}}<sup>&nbsp;<i class="fas fa-info " style="color:#00b0f0"> </i></sup></th>
                
                {% for j in range(0,tickers|length) %}
                <!-- <td>{{j}}</td> -->
                <td>{{matrixCustom[0][i][j]}}</td>

                {%endfor%}


            </tr>

            {%endfor%}
            </tbody>
        </table>

        <h3><b_black> Portfolio</b_black></h3>
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Benchmark</th>
                <th scope="col">Correlation</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                
         
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">MSCI World</td>
                <td>{{pfResults[2][0]}}</td>
                <td>{{pfResults[2][1]}}</td>
                <td>{{pfResults[2][2]}}</td>
        
              </tr>
              <tr>
                <td scope="row">S&P 500 </td>
                <td>{{pfResults[6][0]}}</td>
                <td>{{pfResults[6][1]}}</td>
                <td>{{pfResults[6][2]}}</td>
        
              </tr>
              <tr>
                <td scope="row">Euro Stoxx 600</td>
                <td>{{pfResults[10][0]}}</td>
                <td>{{pfResults[10][1]}}</td> 
                <td>{{pfResults[10][2]}}</td>           
              </tr>
            </tbody>
        </table>
    
    
    </div>

    <div class="col-xs-12" style="height:50px;"></div>

    <div class="table-responsive">
        <h5><b>Monthly</b></h5>
        <h3><b_black> Matrix</b_black></h3>
        <p class='text-muted'>Evaluated from: {{matrixCustom[1]}} to {{matrixCustom[2]}}. </p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Asset value taken at the first trading day per month" ></th>
                    {% for i in range(0,tickers|length) %}
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="{{companyNames[i]}}">{{tickers[i]}}<sup>&nbsp;<i class="fas fa-info " style="color:#00b0f0"> </i></sup> </th>
                    {%endfor%}
                    <!-- {{companyNames[i]}} -->

                </tr>
            </thead>
            <tbody></tbody>
            {% for i in range(0,tickers|length) %}
            <tr>
                <th scope="row" data-toggle="tooltip" data-placement="top" title="{{companyNames[i]}}">{{tickers[i]}}<sup>&nbsp;<i class="fas fa-info " style="color:#00b0f0"> </i></sup></th>
                
                {% for j in range(0,tickers|length) %}
                <!-- <td>{{j}}</td> -->
                <td>{{matrixCustomMonthly[0][i][j]}}</td>

                {%endfor%}


            </tr>

            {%endfor%}
            </tbody>
        </table>

        <h3><b_black> Portfolio</b_black></h3>
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Benchmark</th>
                <th scope="col">Correlation</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                
         
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">MSCI World</td>
                <td>{{pfResults[3][0]}}</td>
                <td>{{pfResults[3][1]}}</td>
                <td>{{pfResults[3][2]}}</td>
        
              </tr>
              <tr>
                <td scope="row">S&P 500 </td>
                <td>{{pfResults[7][0]}}</td>
                <td>{{pfResults[7][1]}}</td>
                <td>{{pfResults[7][2]}}</td>
        
              </tr>
              <tr>
                <td scope="row">Euro Stoxx 600</td>
                <td>{{pfResults[11][0]}}</td>
                <td>{{pfResults[11][1]}}</td> 
                <td>{{pfResults[11][2]}}</td>           
              </tr>
            </tbody>
        </table>
    </div>
    {% endif %}
    
</div>

<div class="content-section">

  <br>
  <div class="alert alert-danger" role="alert"> 
    Known problem: We are sourcing data from Yahoo alone. If Yahoo reports wrong numbers for price (e.g. gigantic spikes in price; SPYD.DE on 31.03 2020) we can not correct this yet. Therefore we advice you to check the charts of your assets on yahoo. Perhaps you find another symbol or can skip that time with a custom timeframe.
  </div>

  <legend class="border-bottom mb-4">Infos about the result </b></legend>
  
  
  <ul class="list-group">
    <li class="list-group-item">The results are computed based on past performance. Past performance is no guarantee for future results. They may vary.</li>
    <li class="list-group-item">Investing includes risk and can cause you to lose money. Also, the value of your assets as well as the income of those assets may fluctuate over time.</li>
    <li class="list-group-item">Don't make decisions based on the results that you gain from this page and any tool provided by pandalikeinvesting.com. Information provided by this site and the tools on this site are solely for informational purposes and are not a call to action for buying or selling securities. </li>
    <li class="list-group-item">Results computed by our tools use information from many sources. We consider those resources as being reliable but we can not guarantee correctness or accuracy.</li>
    <li class="list-group-item">The results of this tool assume that all dividends and other distributions are reinvested at no cost.</li>
    <li class="list-group-item">The tools do not take currency into account. E.g. the results for correlation will not be accurate and you should not mix assets in different currencies. If you still mix them, keep in mind that e.g. the correlation is off for the S&P 500 in USD and EUR by approx. 0.03. </li>
  </ul>

</div>


{% endblock %}