{% extends 'base.html' %}

{% block content %}
<br>
<article class="media content-section">


    <div class="row">
      <div class="col-sm-auto">
        <span><img src="{{ url_for('static', filename='resources/img/logo.png') }}" width="145"
          height="150"></span>
      </div>
      <div class="col ">
        <div class="row-auto text-center">
        <h1>Pandalike <b> Investing</b> </h1>
        </div>
        <div class="row-auto text-center">
         <div class="text-muted"> Blog and Tools about Investing, ETFs, and Stocks  </div>
        </div>
      
      </div>
      
      <div class="container">
      <br>
    
      <legend class="border-bottom mb-4">Investment Blog</legend>
        Pandalike <b>Investing</b> is a blog from a private investor for private investors all around the world. The blog is focused on investing with low-cost index funds, <b>ETFs</b>. But don't worry, you will also find articles and tools about <b>stocks</b> as well as Real Estate Investment Trusts, <b>REITs</b>. We share knowledge, discuss, and bring you <b>tools</b> for your daily investing.
        
        <div class="container">
          <br>
          <img class="img img-responsive" src="{{ url_for('static', filename='resources/img/flags/0.png') }}"  >
          <img class="img img-responsive" src="{{ url_for('static', filename='resources/img/flags/1.png') }}"  >
          <img class="img img-responsive" src="{{ url_for('static', filename='resources/img/flags/2.png') }}">
          <br>
        </div>
        <br>
        Note, the blog has its origin in Germany and Europe and there are articles on this blog, dedicated to this region. But we are marking those articles and tools explicitly for you. 
        <br> <br>
        I wish you a pleasant visit here on my blog and with the provided tools. If there is anything you want to share or give feedback, don't hesitate to <br> 
        <br><a href="{{ url_for( 'main.contact') }}" class="btn btn-primary active" role="button" aria-pressed="true"><i class="fas fa-pen-alt"></i>&nbsp; Contact Me</a> <br><br>
        I am doing my best to get back to you. <br>
        Best Regards,
        <br>
        <br>
        <div class="container">
        <div class="signature">
        Daniel
      </div>
    </div>

        
      </div>


      
      
      <div class="container">
        <br>
      <br>
      <legend class="border-bottom mb-4">Tools by Panadalike <b>Investing</b></legend>
      
      
      On this page, it is all about understanding your investments and bring them to the next level. We supply you with tools to analyze your portfolio in depth. Tools like: <br> <br>
    </div>

      <div class="w-100"></div>
      <div class="col">
        <div class="arrow_box_left">
         
          <div class="row">
              <div class="col-sm-auto">
                <h1><i class="fas fa-tools"></i></h1>
              </div>
              <div class="col">
                 <div class="b_black">Portfolio Correlation:</div> This tool analyses your portfolio and computes the correlation of your assets. With this tool, you can identify similar investments to reduce the complexity of your portfolio. Alternatively, you can introduce new investments that reduce your overall correlation to your benchmark.
              </div>
          </div>
        </div>    
      </div>

      <div class="w-100"></div>
      <div class="col">
        <div class="arrow_box_right">
          <div class="row">
            <div class="col text-right">
              <div class="b_black">Other tools are planned:</div> This webpage is still very young. We are planning to release more tools soon. If you want to be informed about the release of new investing tools, there is a newsletter where you can sign in. We will inform you about new features and we will not spam you nor do we plan to share your mail address with third parties.
            </div>
            <div class="col-sm-auto">
               
               <h1><i class="fas fa-tools"></i></h1>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="w-100"></div>
      <div class="col">
        <div class="arrow_box_left">
          <div class="row">
            <div class="col-sm-auto">
              <h1><i class="fas fa-tools"></i></h1>
            </div>
            <div class="col">
               <div class="b_black">Backtesting:</div> This tool analyses your portfolio and computes the correlation of your assets. With this tool you can identify similar investment in order to reduce complextity of your portfolio. Alternatively, you can introduce new investments that reduce your overall correlation to your benchmark.
            </div>
          </div>
        </div>
      </div> -->

      



    </div>





  

</article>


<div class="sepa">
 
  <h3> Some blog posts for you:</h3>
</div>


{% for i in range(0,randomPosts|length)%}
<article class="media content-section">
  <div class="container">
    <div class="row">
        <div class="col-sm-auto">
            <img class="rounded-circle article-img"
            src="{{ url_for('static', filename='resources/img/profile_pics/' + randomPosts[i].author.image_file) }}">
        </div>
        
        <div class="col">
            <a class="mr-2"
            href="{{ url_for('users.user', username=randomPosts[i].author.username) }}">{{ randomPosts[i].author.username }}</a>
            
            <br>
            {% for j in range(0, randomTags[i]|length)%}
                <a class="badge badge-pill badge-primary" href="{{ url_for('posts.blog', page=1, tagged = randomTags[i][j].id) }}">
                    {{randomTags[i][j].name}}
                </a>
            {% endfor %}
        </div>
        <div class="w-100"></div>
        <div class="col">
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=randomPosts[i].id) }}">{{ randomPosts[i].title }}</a></h2>
        </div>
        <div class="w-100"></div>

        <div class="col">
            <p class="article-content">{{ randomPosts[i].abstract }}</p>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <a class="btn btn-outline-info float-right btn-sm" href="{{ url_for('posts.post', post_id=randomPosts[i].id) }}">Read More...</a>
        </div>
    </div>      
  </div>
</article>
{% endfor %}


{% endblock %}