{% extends 'base.html' %}

{% block content %}
<br>

<div class="content-section">
<br>
<form method="post">
    <input class="form-control" type="text" name="title" placeholder="Enter your title" />
    <br>
    <textarea id="summernote" name="editordata"></textarea>
    <!-- <input type="submit" value="Send Newsletter" /> -->
    <small class="text-muted">
      Attention! Only html is currently supported for the Newsletter. No Images and Videos.
    </small>
    <br>
    <br>
    <input class="btn btn-primary" type="submit" value="Send Newsletter">
  </form>

</div>


{% endblock %}