<a class="share-btn share-btn-twitter"
rel="noopener"
href="https://twitter.com/intent/tweet?url={{url | urlencode }}&text={{title | urlencode}}&hashtags=">
<i class="fab fa-twitter"></i>
Tweet
</a>

<a class="share-btn share-btn-facebook"
rel="noopener"
href="https://www.facebook.com/sharer/sharer.php?u={{url | urlencode}}&title={{title | urlencode}}">
<i class="fab fa-facebook"></i>
Share
</a>

<a class="share-btn share-btn-linkedin"
rel="noopener"
href="http://www.linkedin.com/shareArticle?mini=true&url={{url | urlencode }}&title={{title | urlencode}}">
<i class="fab fa-linkedin"></i>
Share&nbsp; 
</a>
