{% extends 'base.html' %}

{% block content %}
<br>
<div class="content-section">

    <div class="media">
        <img class="rounded-circle account-img" src={{image_file}}>
        <div class="media-body">
            <h2 class="account-heading">{{user.username}}</h2>
            <p class="text-secondary">Joined on: {{user.date_joined.strftime('%Y-%m-%d')}}</p>
        </div>
    </div>

        

{% if posts.total>0 %}
    <legend class="border-bottom mb-4">All Posts by <a href="{{ url_for('users.user', username=user.username) }}">{{ user.username }}</a> ({{posts.total}})</legend>
    </h1>
    {% for post in posts.items %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2"
                    href="{{ url_for('users.user', username=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted">posted on: {{ post.date_posted.strftime("%d %b, %Y") }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.abstract }}</p>
        </div>
    </article>
    {% endfor %}

    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1,right_current =2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
            <a class="btn btn-info mb-4"
                href="{{ url_for('users.user', username = user.username,  page=page_num) }}">{{page_num}}</a>
            {%else %}
            <a class="btn btn-outline-info mb-4"
                href="{{ url_for('users.user', username = user.username, page=page_num) }}">{{page_num}}</a>
            {% endif %}
        {%else%}
        ...
        {%endif%}

    {% endfor %}

{%endif%}

{% if comments|length > 0 %}
    <legend class="border-bottom mb-4">Recent Comments by <a href="{{ url_for('users.user', username=user.username) }}">{{ user.username }}</a></legend>

    {% for comment in comments %}
        <article class="media comment-section">
            <div class="container">
                <div class="article-metadata">
                    <div class="row">
                        <!-- <div class="col-sm-auto float-left" >
                            <img class="rounded-circle article-img-sm"
                                        src="{{ url_for('static', filename='resources/img/profile_pics/' + comment.author_comment.image_file) }}">
                        </div> -->
                    
                        <div class="col-sm float-left">
                            <div class="row">
                                <div class="col-md-auto">
                                    <a class="mr-2"
                                        href="{{ url_for('users.user', username=comment.author_comment.username) }}">{{ comment.author_comment.username }}</a>
                                    <br />
                                    <small class="text-muted">posted on: {{ comment.date_posted.strftime("%d %b, %Y") }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-auto float-right">

                            <a class="btn btn-outline-info float-right btn-sm" href="{{ url_for('posts.post', post_id=comment.pid) }}">Go To Post</a>
                        </div>



                    </div>
                </div>
                    
                


                {{ comment.content }}

            </div>
        </article>
{% endfor %}



{% endif %}

</div>
{% endblock %}