input::placeholder { 
    text-transform: none; 
}

.footer {
    position:relative;
    width:100%;
    background: rgb(0, 0, 0);
 }

 .g-recaptcha {
    transform:scale(1.0);
    transform-origin:0 0;
}