* { font-family: Arial, Helvetica, sans-serif !important;}

body {
    background-color: lightgray;
}

.navbar-light { 
    background-color: white; 
} 

input::placeholder { 
    text-transform: none; 
}
