input::placeholder { 
    text-transform: none; 
}

 html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px; /* Set the fixed height of the footer here */
    line-height: 25px; /* Vertically center the text there */
    background-color: black;
}

.g-recaptcha {
    transform:scale(1.0);
    transform-origin:0 0;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #00b0f0 !important;
    border-color: #00b0f0 !important
}