/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blockquote */
blockquote {
    margin: 0;
    max-width: 400px;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}