input::placeholder { 
    text-transform: none; 
}

html {
    position: relative;
    min-height: 100%;
}

  
h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */

    /* Location of the image */
    /* background-image: url("../resources/img/background.jpg"); */
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
        the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
        on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
        while the background image is loading */
    /* background-color: #fafafa; */
    background-color: rgb(219, 219, 219);

    /* font: normal 16px Arial, Arial, sans-serif */

}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px; /* Set the fixed height of the footer here */
    line-height: 25px; /* Vertically center the text there */
    background-color: black;
}

.g-recaptcha {
    transform:scale(1.0);
    transform-origin:0 0;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #00b0f0 !important;
    border-color: #00b0f0 !important
}
.btn-outline-info{
    color: #00b0f0;
    border-color: #00b0f0 !important
}

.btn-info{
    background-color: #00b0f0 !important;
}

.btn-outline-info:hover, .btn-outline-info:active, .btn-outline-info:visited {
    border-color: #00b0f0 !important;
    background-color: #00b0f0 !important
}

a {
    color: #00b0f0;
  }

.colored_link {
    color: #00b0f0 !important;
  }

.bg-steel {
    background-color: #5f788a;
}
  
.site-header:hover {
    color: #ffffff;
}

.site-header {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    border-color: #888888;
    box-shadow: 2px 5px #888888
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.form-label-txt {
    font-weight:normal;
}
