<!-- {% import "bootstrap/wtf.html" as wtf %} -->
{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field, render_recaptcha %}

{% block title %}
Contact Me
{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block content %}
<br>
<div class="container" style="width: 500px">

  <div class="form-group">
    <div class="jumbotron">
      <br>
      <h2 class="title">Write a message to us</h2>
      <form method="POST" action="/contact" class="contact_form" role="contact_form">

      {{ contact_form.hidden_tag() }}
      <d1>
        {{ render_field(contact_form.name, class='form-control', placeholder='What is your name?') }}
        <br>
        {{ render_field(contact_form.email, class='form-control', placeholder='Enter your E-Mail') }}
        <br>
        {{ render_field(contact_form.body, class='form-control', placeholder='Enter your message, question or request') }}
      </d1>
      <br>
      {{render_recaptcha(contact_form.recaptcha)}}
      <br>

      <p><input type=submit name="submit" value="Send" class='btn btn-warning btn-block'>
    </div>
  </div>
</div>
{% endblock %}