{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}



{% block title %}
Contact Me
{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}

{% block content %}
<div class="container" style="width: 400px">


<div class="form-group">
    <h2 class="title">Write a message to us</h2>
    <form method="POST" action="/contact" class="form" role="form">

        {{ form.csrf_token }}
        <!-- {{ wtf.quick_form(form) }} -->
        <d1>
        {{ render_field(form.name, class='form-control', placeholder='What is your name?') }}
        <br>
        {{ render_field(form.email, class='form-control', placeholder='Enter your E-Mail') }}
        <br>
        {{ render_field(form.body, class='form-control', placeholder='Enter your message, question or request') }}
      </d1> 
      <br>
      {{ form.recaptcha }}
      <br>

        <p><input type=submit name= "submit" value="Send" class='btn btn-warning btn-block'>
          

</div>
{% endblock %}