{% extends 'base.html' %}

{% block head %}
<title>Pandalike Investing</title>
{% endblock %}


{% block body %}

<br>
<h1>My Homepage</h1>
<br>

<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Hi this is my  block about something.  For positioning of

                Visit us at <a
                href="/docs/4.4/examples/navbar-fixed/">

                navbars, checkout the <a href="/docs/4.4/examples/navbar-static/">top</a> and fixed top</a> examples.</p>
            <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button to
                toggle the collapsed content.</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go To Blog
                    &raquo;</a>
            </p>
        </div>
    </div>
</main>
</div>

{% endblock %}