{% extends 'base.html' %}

{% block title %}
Visualization
{% endblock %}

{% block content %}

<div class="container" style="width: 300px">

<form action="/visu/" method="POST">
    <div class="form-group">
        <!-- <label for="tickerInput">Ticker</label> -->
        <input type="ticker" style="text-transform: uppercase" class="form-control" id="ticker" name="ticker" placeholder="Enter Ticker">
        <small id="tickerHelp" class="form-text text-muted">You get the Ticker from Yahoo Finance</small>
    </div>
    <input type="submit" class="btn btn-primary" value="Go" required/>

</form>

</div>

{% endblock %}