{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>

    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}


{% macro render_checkbox(field) %}
  {{ field(**kwargs)|safe }}
  &nbsp;{{ field.label }}
{% endmacro %}

{% macro render_recaptcha(field) %}
<dt>{{ field }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% macro render_picture(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <span class = "text-danger"> 
        {{ error }}
      </span>
      <br>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}



