{% extends 'base.html' %}

{% block content %}

<br>
{% if current_user.is_authenticated %}
    {% if user_has_role(current_user,'admin') %}
        <a style="display:inline" class="btn btn-primary float-right" href={{ url_for('posts.new_post') }}> + New Post</a> 
        <br>
        <br>
    {% endif %}  
{% endif %}

<!-- {% for i in range(0,posts.items|length)%}

{{ posts.items[i].title }}

    {% for j in range(0, allTags[i]|length)%}
        {{allTags[i][j].name}}

    {% endfor %}
{% endfor %} -->

{% for i in range(0,posts.items|length)%}
<article class="media content-section">

    <div class="container">
        <div class="row">
            <div class="col-sm-auto">
                <img class="rounded-circle article-img"
                src="{{ url_for('static', filename='/resources/img/profile_pics/' + posts.items[i].author.image_file) }}">
            </div>
            
            <div class="col">
                <a class="mr-2"
                href="{{ url_for('users.user', username=posts.items[i].author.username) }}">{{ posts.items[i].author.username }}</a>
                <small class="text-muted">posted on: {{ posts.items[i].date_posted.strftime("%d %b, %Y") }}</small>
                <br>
                {% for j in range(0, allTags[i]|length)%}
                    <a class="badge badge-pill badge-primary" href="{{ url_for('posts.blog', page=1, tagged = allTags[i][j].id) }}">
                        {{allTags[i][j].name}}
                    </a>
                {% endfor %}
            </div>
            <div class="w-100"></div>
            <div class="col">
                <h2><a class="article-title" href="{{ url_for('posts.post', post_id=posts.items[i].id) }}">{{ posts.items[i].title }}</a></h2>
            </div>
            <div class="w-100"></div>
   
            <div class="col">
                <p class="article-content">{{ posts.items[i].abstract }}</p>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <a class="btn btn-outline-info float-right btn-sm" href="{{ url_for('posts.post', post_id=posts.items[i].id) }}">Read More...</a>
            </div>
        </div>      
    </div>
</article>
{% endfor %}
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1,right_current =2) %}
{% if page_num %}
{% if posts.page == page_num %}
<a class="btn btn-info mb-4" href="{{ url_for('posts.blog', page=page_num, tagged = tagged) }}">{{page_num}}</a>
{%else %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('posts.blog', page=page_num, tagged = tagged) }}">{{page_num}}</a>
{% endif %}
{%else%}
...
{%endif%}


{% endfor %}

{% endblock %}