{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field, render_recaptcha %}

{% block content %}
<br>
<div class="container" style="max-width: 500px">

  <div class="form-group">
    <div class="content-section">
      <br>
      <legend class="border-bottom mb-4">Contact Us</legend>
      <br>
      <form method="POST" action="{{ url_for( 'main.contact') }}" class="contact_form" role="contact_form">

      {{ contact_form.hidden_tag() }}
      <d1>
        {{ render_field(contact_form.name, class='form-control', placeholder='What is your name?') }}
        <br>
        {{ render_field(contact_form.email, class='form-control', placeholder='Enter your E-Mail') }}
        <br>
        {{ render_field(contact_form.body, class='form-control', placeholder='Enter your message, question or request') }}
      </d1>
      <br>
      {{render_recaptcha(contact_form.recaptcha)}}
      <br>

      <p><input type=submit name="submit" value="Send" class='btn btn-warning btn-block'>
    </div>
  </div>
</div>
{% endblock %}