{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field, render_recaptcha, render_field_no_label %}


{% block content %}
<br>
<div class="container">

<div class="row float-right">
    <a style="display:inline" class="btn btn-primary float-right" href={{ url_for('posts.post', post_id=post.id) }}> + Go Back to Post</a> 
</div>
<div class="row float-left">
<h2>Discuss...</h2>
</div>
</div>

<br>
<br>
<article class="media comment-section">
    <div class="container">
        <div class="article-metadata">
            <div class="row">
                <div class="col-sm-auto float-left" >
                    <img class="rounded-circle article-img-sm"
                                src="{{ url_for('static', filename='/resources/img/profile_pics/' + comment.author_comment.image_file) }}">
                </div>
            
                <div class="col-sm float-left">
                    <div class="row">
                
                        <div class="col-md-auto">
                            <a class="mr-2"
                                href="{{ url_for('users.user', username=comment.author_comment.username) }}">{{ comment.author_comment.username }}</a>
                            <br />
                            <small class="text-muted">posted on: {{ comment.date_posted.strftime("%d %b, %Y") }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        


        {{ comment.content }}

    </div>
</article>
<article class="media discussion-section">
    <div class="container">
        {% for discuss in discussions %}
        <div class="border-bottom">
            <a class="mr-2"
            href="{{ url_for('users.user', username=discuss.author_discussion.username) }}">{{ discuss.author_discussion.username }}</a> {{discuss.content}}

        
            <!-- <br> -->
        </div>
        {% endfor%}
        {%if discussions|length==0%}
        Nothing discussed yet...  
        {%endif%}


    </div>
</article>

{% if current_user.is_authenticated %}
<div class="content-section">
    <form method="POST" action="" class="login_form" role="login_form">
        {{ form.hidden_tag() }}
        <d1>
            <br>
            {{ render_field_no_label(form.content, class='form-control', placeholder='Enter text...') }}
        </d1>
        {{render_recaptcha(form.recaptcha)}}

        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
</div>
{% endif %}




{% endblock %}