{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field, render_checkbox, render_recaptcha %}

{% block content %}
<br>
<div class="container" style="max-width: 500px">

  <div class="form-group">
    <div class="content-section">

      <br>
      <legend class="border-bottom mb-4">Login</legend>
      <form method="POST" action="" class="login_form" role="login_form">
      {{ login_form.hidden_tag() }}
      <d1>
        <br>
        {{ render_field(login_form.email, class='form-control', placeholder='Enter your E-Mail') }} 
        {{ render_field(login_form.password, class='form-control', placeholder='Enter a password') }}
        {{ render_checkbox(login_form.remember)}}
      </d1>
      <br>
      {{render_recaptcha(login_form.recaptcha)}}
      
      <br>
      <!-- <p><input type=submit name="submit" value="Send" class='btn btn-primary btn-block'> -->
        <div class="form-group">
          {{ login_form.submit(class="btn btn-outline-info") }}
          <small class="text-muted ml-2">
            <a href="{{ url_for('reset_request') }}">Forgot Password?</a>
          </small>
      </div>
      

      <div class ="border-top pt-3">
        <small class="text-muted">
          No Account? <a class="ml-2" href = {{ url_for('register') }}> Sign Up </a>
        </small>
      </div>
    </div>  
  </div>
</div>
{% endblock %}