{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field, render_recaptcha %}


{% block content %}
<br>
<div class="content-section">

  <br>
  <legend class="border-bottom mb-4">{{legend}}</legend>
  <form method="POST" action="" class="login_form" role="login_form">
    {{ form.hidden_tag() }}
    <d1>
      <br>
      {{ render_field(form.title, class='form-control', placeholder='Enter a title.') }}
      {{ render_field(form.content, class='form-control', placeholder='Enter some content') }}
    </d1>
    <br>
    {{render_recaptcha(form.recaptcha)}}

    <br>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
</div>

{% endblock %}