{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field, render_checkbox, render_recaptcha %}

{% block title %}
Register
{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block content %}
<br>
<div class="container" style="max-width: 500px">

  <div class="form-group">
    <div class="jumbotron">
      <br>
      <h2 class="title">Join our community</h2>
      <form method="POST" action="{{ url_for( 'register') }}" class="register_form" role="register_form">

      {{ register_form.hidden_tag() }}
      <d1>
        <br>
        {{ render_field(register_form.username, class='form-control', placeholder='Enter a username') }}
        {{ render_field(register_form.email, class='form-control', placeholder='Enter your E-Mail') }} 
        {{ render_field(register_form.password, class='form-control', placeholder='Enter a password') }}
        {{ render_field(register_form.confirm_password, class='form-control', placeholder='Enter your password again') }}
        {{ render_checkbox(register_form.conditions)}}


      </d1>
      <br>
      {{render_recaptcha(register_form.recaptcha)}}
      
      <br>
      <p><input type=submit name="submit" value="Send" class='btn btn-primary btn-block'>

      <div class ="border-top pt-3">
        <small class="text-muted">
          Already Have An Account? <a class="ml-2" href = {{ url_for('login') }}> Login </a>
        </small>
      </div>


    </div>

    
  </div>
</div>
{% endblock %}