{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field, render_checkbox, render_recaptcha %}

{% block content %}
<br>
<div class="container" style="max-width: 500px">

  <div class="form-group">
    <div class="content-section">

      <br>
      <legend class="border-bottom mb-4">Reset Password</legend>
      <form method="POST" action="" class="login_form" role="login_form">
      {{ form.hidden_tag() }}
      <d1>
        <br>
        {{ render_field(form.email, class='form-control', placeholder='Enter your E-Mail') }} 
      </d1>
      <br>
      {{render_recaptcha(form.recaptcha)}}
      
      <br>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </div>  
  </div>
</div>
{% endblock %}